<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>TO DO ~ TA DA</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <div><img src="../assets/images/tada-logo.png" alt="Ta-Da Logo" id="logo" style="width: 50%"></div>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Already have an Account? Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Are you new? Signup Here</a>
        </div>
    </div>
</body>

</html>