<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<title>TO DO ~ TA DA</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<base href="/">
	<link rel="stylesheet" href="../public/styles/styles.css" type="text/css" media="screen" charset="utf-8">
	<style> body {word-wrap: break-word;}</style>
</head>

<body>
	<div class="container">

		<div class="page-header text-center">
			<div><img src="../assets/images/tada-logo.png" alt="Ta-Da Logo" id="logo" style="width: 80%"></div>
			<h1> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<div class="row">

			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>:
						<%= user.id %><br>
						<strong>username</strong>:
						<%= user.username %><br>
						<strong>password</strong>:
						<%= user.password %>
					</p>

				</div>
			</div>
		</div>
		<div class="container">
			<p>
				<label for="new-task">Add Item</label><input id="new-task" type="text"><button>Add</button>
			</p>

			<h3>To-do</h3>
			<ul id="incomplete-tasks">
				<li><input type="checkbox"><label>Pay Bills</label><input type="text"><button class="edit">Edit</button><button
					 class="delete">Delete</button></li>
				<li class="editMode"><input type="checkbox"><label>Go Shopping</label><input type="text" value="Go Shopping"><button
					 class="edit">Edit</button><button class="delete">Delete</button></li>

			</ul>

			<h3>Forgeddabowdit</h3>
			<ul id="completed-tasks">
				<li><input type="checkbox" checked><label>See the Doctor</label><input type="text"><button class="edit">Edit</button><button
					 class="delete">Delete</button></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="../public/js/index.js"></script>
</body>

</html>
